<div class="header">
  <div class="header_container_top white-text">
    <div class="header_container_top-content d-flex flex-row justify-content-around align-items-center">
      <div class="text-center">
        <mdb-icon far icon="envelope" size="lg"></mdb-icon>
      </div>
      <div class="header_container_top-content-title text-center font-weight-bold">
        Home Management
      </div>
      <div class="text-center">
        <mdb-icon fas icon="lock" size="lg"></mdb-icon>
      </div>
    </div>
  </div>
  <div class="header_container_bottom">
  </div>
</div>
